:root {
  --transition-duration: 300ms;
  --transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);

  --overlay-color: hsl(23, 40%, 96%);
  --overlay-text: hsl(228, 24%, 23%);

  --button-color: hsl(228, 24%, 23%);
  --button-text: hsl(0, 0%, 100%);

  --focus-text: hsl(228, 24%, 23%);
  --focus-color: hsl(51, 100%, 85%);
  --focus-outline-color: hsl(228, 24%, 23%);

  --loader-background-color: hsl(23, 40%, 96%);
  --loader-color: hsl(228, 24%, 23%);

  --image-max-height: 85vh;
  --image-max-width: 85vw;
}

/**
 * Parvus trigger
 *
 */

.parvus-zoom {
  display: block;
  position: relative;


  &__indicator {
    align-items: center;
    background-color: var(--button-color);
    color: var(--button-text);
    display: flex;
    justify-content: center;
    line-height: 1;
    padding: 0.5rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;


    & svg {
      fill: none;
      height: 1.5rem;
      pointer-events: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.5;
      stroke: currentColor;
      width: 1.5rem;
    }
  }

  & img {
    display: block;
  }
}

/**
 * Parvus
 *
 */

.parvus {
  align-items: center;
  bottom: 0;
  contain: strict;
  display: flex;
  font-size: 1.125rem;
  justify-content: center;
  left: 0;
  line-height: 1.667;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1337;


  &[aria-hidden='true'] {
    display: none;
  }

  &__overlay {
    background-color: var(--overlay-color);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    will-change: opacity;
  }

  &__image {
    will-change: transform;

    @media screen and (prefers-reduced-motion: no-preference) {

      &:not(&--is-dragging) {
        transition: transform var(--transition-duration) var(--transition-timing-function);
      }
    }

    & img {
      display: block;
      height: auto;
      max-height: var(--image-max-height);
      max-width: var(--image-max-width);
      transform-origin: left top;
      width: auto;
    }
  }

  &__loader {
    display: inline-block;
    height: 6.25rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6.25rem;


    &::before {
      animation: spin 1s infinite;
      border-radius: 100%;
      border: 0.25rem solid var(--loader-background-color);
      border-top-color: var(--loader-color);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }

  &__btn {
    appearance: none;
    background-color: var(--button-color);
    background-image: none;
    border-radius: 0;
    border: 0.0625rem solid transparent;
    color: var(--button-text);
    cursor: pointer;
    display: flex;
    font: inherit;
    padding: 0.5rem;
    touch-action: manipulation;


    &--close {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    & svg {
      fill: none;
      height: 2rem;
      pointer-events: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1;
      stroke: currentColor;
      width: 2rem;
    }
  }
}

@keyframes spin {

  to {
    transform: rotate(360deg);
  }
}

/**
 * Focus
 *
 */

.parvus-zoom:focus,
.parvus :focus {
  outline: 0;
}

.parvus-zoom:focus-visible,
.parvus :focus-visible {
  outline: 0.125rem dashed var(--focus-outline-color);
  outline-offset: 0.125rem;
}
